- page_title _("New Snippet")
- add_page_specific_style 'page_bundles/notes'

.page-title-holder.d-flex.align-items-center
  %h1.page-title.gl-font-size-h-display= _('New Snippet')

.gl-mt-3
  = render "shared/snippets/form", url: snippets_path(@snippet)
